# Ejercicio 1: Transformar cadenas
El texto con el que trabajarás es el siguiente:

In [7]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
print(text)

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

Primero, divide el texto en cada oración para trabajar con su contenido:

In [8]:
textdiv = text.split('. ')
textdiv

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [21]:
palabras = ["average", "temperature", "distance"]
palabras

['average', 'temperature', 'distance']

Cree un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [22]:
for i in textdiv:
    for j in palabras:
        if j in i:
            print(i)

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:

In [23]:
for i in textdiv:
    for j in palabras:
        if j in i:
            print(i.replace('C','Celsius'))

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando Cadenas
En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

In [24]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [33]:
#Creamos titulo
titulo = f'Datos ineditos sobre la gravedad de {planet}'

In [29]:
plantilla = f"""{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity*1000}"""
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999

Finalmente, usa ambas variables para unir el título y los hechos.

In [34]:
E2_texto = [titulo, plantilla]
'\n'.join(E2_texto)
print(E2_texto)

['Datos ineditos sobre la gravedad de Earth', '--------------------------------------------------------------------------------\nNombre del planeta: Earth\nGravedad en Moon: 1.6199999999999999']

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [37]:
name = "Marte"
gravity = 0.00143 # in kms
planet = "Ganímedes"

In [38]:
#Comprobando plantilla
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [41]:
newplantilla = """ -------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nom}: {grav}"""
print(newplantilla.format(planeta=planet,nom=name,grav=gravity))

 -------------------------------------------------------------------------------
Nombre del planeta: Ganímedes
Gravedad en Marte: 0.00143

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [42]:
newGravity = gravity * 1000
print(newplantilla.format(planeta=planet,nom=name,grav=newGravity))

 -------------------------------------------------------------------------------
Nombre del planeta: Ganímedes
Gravedad en Marte: 1.4300000000000002